<div>
  <h2>You chose <%= @game.player.choice%></h2>
</div>

<div>
  <h2>The computer chose <%= @game.computer_choice%></h2>
</div>

<div>
<%= @game.outcome(@game.player.choice, @game.computer_choice)%>
</div>
